.addWaterBtn {
  width: 140px;
  height: 46px;
  position: absolute;
  bottom: 32px;
  right: 16px;
  background-color: var(--color-bcgButton);
  color: var(--color-clrButton);
  border: none;
  padding: 14px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  z-index: 2;
  transition: color 0.3s ease-in-out;
}

.addWaterBtn:hover {
  color: var(--color-buttonHover);
}

@media (min-width: 768px) {
  .addWaterBtn {
    width: 178px;
    height: 60px;
    bottom: 64px;
    right: 32px;
    padding: 18px 30px;
    font-size: 16px;
  }
}
