.calendarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
}

.buttonDay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  padding: 5px 10px;
  text-align: center;
  color: var(--color-iconDayInteger);
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: var(--color-light);
}

.normed {
  background-color: var(--color-iconDay);
}

.currentDay {
  background-color: var(--color-currentDayBG);
  border: 2px solid var(--color-accent);
  color: var(--color-currentDayCl);
}

.buttonDay.currentDay:hover,
.buttonDay.currentDay:focus,
.buttonDay.currentDay:active {
  background-color: var(--color-currentDayBG-hover);
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

.itemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.buttonDay:hover,
.buttonDay:focus,
.buttonDay:active {
  background-color: var(--color-buttonHover);
  border: 2px solid var(--color-buttonHover);
  color: var(--color-main);
}

.overlimit {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-currentDayBG);
}

.disabled {
  opacity: 0.5;
  background-color: #838584;
  pointer-events: none;
  cursor: not-allowed;
}

.infoText {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: var(--color-secondary);
}

@media (min-width: 768px) {
  .buttonDay {
    width: 38px;
    height: 38px;
    padding: 7px 14px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
  }

  .itemBox {
    gap: 4px;
  }

  .infoText {
    font-size: 12px;
    line-height: 1.86667;
  }
}

@media (min-width: 1440px) {
}
