.cup {
  width: 28px;
  height: 30px;
}

.svg {
  stroke: var(--color-main);
  fill: none;
  width: 14px;
  height: 14px;
  transition: stroke 0.3s ease;
}

.svg:hover {
  stroke: var(--color-accent);
  cursor: pointer;
}
.cardWrapper {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 19px 14px;

  background-color: var(--color-light);
  border-radius: 15px;
  min-width: 149px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.amount {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.time {
  font-size: 12px;
  line-height: 100%;
  color: var(--color-waterItem-time);
}

.svgWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.svgWrapper button {
  border: none;
  background-color: transparent;
  padding: 0px;
  height: 14px;
}

@media (min-width: 768px) {
  .cardWrapper {
    gap: 20px;
    padding: 20px;
    min-width: 192px;
    max-height: 86px;
  }

  .cup {
    width: 32px;
    height: 36px;
  }

  .infoWrapper {
    display: block;
  }

  .amount {
    font-size: 15px;
    line-height: 149%;
  }

  .time {
    line-height: 187%;
  }

  .svgWrapper {
    gap: 14px;
  }
  .svgWrapper button {
    height: 16px;
  }

  .svg {
    width: 16px;
    height: 16px;
  }
}
