.monthBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
  padding: 0;
}

.monthTitle {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.01em;
  line-height: 1.2;
  color: var(--color-main);
  position: relative;
}

.oneMonthContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.oneMonthWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.buttonPrevious,
.buttonNext {
  border: none;
  background-color: transparent;
  align-items: center;
  border-radius: 50%;
  padding: 0;
}

.iconPrevious,
.iconNext {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--color-main);
  fill: none;
  width: 18px;
  height: 18px;
}

.iconChart {
  width: 20px;
  height: 20px;
  fill: var(--color-iconGraf);
  stroke: var(--color-main);
  stroke-width: 1.8px;
  transition: stroke 0.3s ease;
}

.button {
  background-color: transparent;
  border: none;
}

.monthDescription {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-main);
}

@media (min-width: 768px) {
  .monthTitle {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.01em;
    line-height: 1.2;
  }

  .oneMonthContainer {
    gap: 20px;
  }

  .oneMonthWrapper {
    gap: 20px;
  }

  .monthDescription {
    font-size: 16px;
    line-height: 24px;
  }

  .iconChart {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
}
