.section {
  position: relative;
  padding: 118px 16px 67px 16px;
  background-color: var(--color-gray);
  border-radius: 30px;
}

.subtitle {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.06em;
  margin-bottom: 16px;
}

.title {
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.list {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.link {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28571;
  height: 46px;
  border-radius: 30px;
  letter-spacing: -0.01em;
  text-align: center;
}

.first {
  padding: 14px 6px;
  background-color: var(--color-accent);
  color: var(--color-currentDayBG);
}

.second {
  padding: 14px 28px;
  border: 1px solid var(--color-main);
}

.button-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.confirmBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28571;
  width: 116px;
  height: 46px;
  padding: 14px 19px;
  background-color: var(--color-accent);
  border: none;
  border-radius: 30px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-currentDayBG);
  transition: background-color 0.3s ease;
}

.confirmBtn:hover {
  background-color: #87d28d;
}

.confirmBtn:focus {
  background-color: #87d28d;
}

@media (min-width: 768px) {
  .section {
    padding: 106px 93px 50px 64px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 1.5;
  }

  .title {
    font-size: 64px;
    line-height: 1.1;
  }

  .link {
    font-size: 16px;
    line-height: 1.5;
    height: 60px;
    padding: 18px 40px;
  }

  .confirmBtn {
    font-size: 16px;
    width: 169px;
    height: 60px;
    padding: 18px 40px;
    line-height: 1.5;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 188px 61px 188px 64px;
  }

  .title {
    font-size: 80px;
    line-height: 0.95;
  }

  @media (hover: hover) {
    .first:hover {
      background-color: #87d28d;
    }

    .second:hover {
      color: #87d28d;
      border-color: #87d28d;
    }
  }
}
