.wrapper {
  height: 120%;
  outline: 1px solid red;
}
.backdrop {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px;
  background: rgba(47, 47, 47, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow-x: hidden;
  z-index: 1000;
}

.backdrop.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}
.backdrop.hidden {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

.backdrop::-webkit-scrollbar {
  width: 6px;
}

.backdrop::-webkit-scrollbar-thumb {
  background: #f0eff4;
  border-radius: 30px;
}

h2 {
  padding: 0;
  margin: 0;
}

.modalContent {
  position: relative;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
}

.topPosition {
  margin-top: 64px;
}

.topPositionBackDrop {
  padding-bottom: 70px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  fill: var(--color-main);
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .btn {
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
  }
}

.topPosition .closeBtn {
  @media screen and (min-width: 768px) {
    top: 40px;
    right: 40px;
  }
}
