:root {
  --color-main: #323f47;
  --color-secondary: #2f2f2f;
  --color-light: #ffffff;
  --color-accent: #9be1a0;
  --color-gray: #f0eff4;
  --color-logo: #323f47;
  --color-bottle: #ffffff;
  --color-progressBarCont: #f0eff4;
  --color-bottleSection: #9be1a0;
  --color-bcgButton: #323f47;
  --color-clrButton: #ffffff;
  --color-buttonHover: #9be1a0;
  --color-iconDay: #323f4733;
  --color-iconDayInteger: #323f47;
  --color-currentDayBG: #323f47;
  --color-currentDayBG-hover: #323f47;
  --color-currentDayCl: #9be1a0;
  --color-iconGraf: none;
  --color-logout: #d0d0d0;
  --color-logout-hover: #323f47;
  --color-addButton-icon: #323f47;
  --color-addButton-icon-hover: #323f47;
  --color-waterItem-time: #d0d0d0;
  --color-settingsBg: #f0eff4;
  --color-settingsInput: #ffffff;
  --color-cancelBtnClr: #d0d0d0;
  --color-cancelBtnHoverClr: #323f47;
  --color-buttonLightTheme: #72a874;
  --color-modalBUtton: #87d28d;
  --color-languageButtons: #9bbf92;

  --font-family-main: 'Poppins', sans-serif;
  --font-family-secondary: 'Gilroy', sans-serif;

  --container-width: 343px;
  --container-width-tab: 704px;
  --container-width-desktop: 1376px;

  --container-padding-x: 16px;

  --input-height: 59px;
  --button-height: 68px;

  --transition-duration: 0.2s;

  --desktop-above: 1440px;
  --desktop: 1439px;

  --tablet-above: 768px;
  --tablet: 767px;

  --mobile-above: 375px;
  --mobile: 374px;
}

@media (min-width: 768px) {
  :root {
    --container-padding-x: 32px;
  }
}

[data-theme='dark'] {
  --color-main: #d0d0d0;
  --color-secondary: #d0d0d0;
  --color-light: #323f47;
  --color-accent: #9be1a0;
  --color-gray: #333333;
  --color-logo: #fafafa;
  --color-bottle: #333333;
  --color-progressBarCont: #cccccc;
  --color-bottleSection: #72a874;
  --color-buttonHover: #72a874;
  --color-bcgButton: #323f47;
  --color-iconDay: #4d5e69;
  --color-iconDayInteger: #d3d3d3;
  --color-currentDayBG-hover: #323f47;
  --color-currentDayCl: #d3d3d3;
  --color-iconGraf: #ffff;
  --color-logout-hover: #72a874;
  --color-addButton-icon-hover: #72a874;
  --color-settingsBg: #323f47;
  --color-settingsInput: #d3d3d3;
  --color-cancelBtnClr: #f0eff4;
  --color-cancelBtnHoverClr: #72a874;
  --color-buttonLightThemeDark: #4e724b;
  --color-languageButtons: #9be1a0;
}
