.label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.label:nth-child(n + 2) {
  margin-bottom: 24px;
}

.label:first-child {
  width: fit-content;
  margin-bottom: 16px;
}

.p {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.subtitle {
  font-size: 16px;
  line-height: 1.3;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.field {
  width: 100%;
  font-size: 14px;
  padding: 14px 16px;
  color: var(--color-secondary);
  background-color: var(--color-light);
  border: 1px solid #ccc;
  border-radius: 15px;
}

.fixedValue {
  font-size: 14px;
  text-align: center;
  padding: 10px 20px;
  background-color: var(--color-main);
  color: var(--color-light);
  border-radius: 30px;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 40px;
  height: 40px;
  stroke: currentColor;
  fill: var(--color-light);
  color: var(--color-main);
  transition: stroke 0.2s ease-in-out;
}

.icon:hover {
  stroke: var(--color-accent);
}

.saveButton {
  background-color: var(--color-accent);
  color: var(--color-bcgButton);
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}

.saveButton:hover {
  background-color: #87d28d;
}

.error {
  color: red;
  font-size: 0.875rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type='number'] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='time'] {
  -moz-appearance: textfield;
}

@media (min-width: 768px) {
  .field {
    font-size: 16px;
    padding: 16px;
  }

  .fixedValue {
    font-size: 16px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 1.3;
  }

  .p {
    font-size: 16px;
  }

  .saveButton {
    font-size: 16px;
    padding: 18px 50px;
  }
}
