.language_buttons_wrapper {
  position: absolute;
  top: 24px;
  right: 62px;
  display: flex;
}

.btn {
  font-size: 13px;
  line-height: 1.5;
  color: var(--color-main);
  background-color: transparent;
  border: none;
  transition: none;

  &:disabled {
    color: var(--color-currentDayBG);
    background-color: var(--color-accent);
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) {
  .language_buttons_wrapper {
    top: 32px;
    right: 94px;
    gap: 5px;
  }

  .btn {
    font-size: 16px;
  }
}
