.waterModal {
  background-color: var(--color-bottle);
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 343px;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-main);
  margin-bottom: 24px;
}

.subtitle {
  font-size: 16px;
  color: var(--color-main);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media screen and (max-width: 375px) {
  .waterModal {
    min-width: 280px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 1;
  }

  .waterModal {
    min-width: 518px;
    width: 100%;
  }

  .subtitle {
    font-size: 18px;
    line-height: 1.3;
  }
}
