.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 40px 30px 41px;
  background-color: var(--color-bottleSection);
  border-radius: 20px;
  max-width: 343px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin: 24px 0 0 16px;
}

.bottle {
  background-image: url('/images/bottle-mob.png');
  width: 100%;
  max-width: 262px;
  height: 335px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bottle {
    background-image: url('/images/bottle-mob@2x.png');
  }
}

@media (min-width: 768px) {
  .section {
    width: 704px;
    max-width: 100%;
    padding: 69px 165px 32px 165px;
  }

  .title {
    font-size: 24px;
    margin: 32px 0 0 33px;
  }

  .bottle {
    background-image: url('/images/bottle-tab.png');
    max-width: 374px;
    height: 477px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bottle {
      background-image: url('/images/bottle-tab@2x.png');
    }
  }
}

@media (min-width: 1440px) {
  .section {
    width: 672px;
    padding: 92px 100px 40px 100px;
  }

  .bottle {
    background-image: url('/images/bottle.png');
    max-width: 472px;
    height: 604px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bottle {
      background-image: url('/images/bottle@2x.png');
    }
  }
}
