.button {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: transparent;
  border: none;
  padding: 0;
}

.svgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9be1a0;
  border: none;
  transition: 0.2s;
}
.svg {
  stroke: var(--color-addButton-icon);
  transition: 0.2s;
}

.button:hover {
  .svgWrapper {
    background-color: var(--color-addButton-icon-hover);
  }
  .svg {
    stroke: var(--color-light);
  }
}

.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-main);
}

@media (width >= 320px) and (width <= 375px) {
  .text {
    font-size: 14px;
  }
}
